/.obsidian/
/.trash/
/SIT/Sem 4/TOC/*
!/SIT/Sem 4/TOC/TOCNotes-written.pdf
/SIT/SEM 4/Specialization/
/SIT/SEM 4/-!!-Stuff-!!-/
/SIT/SEM 2/CT/
/SIT/Docs/
/SIT/SEM 4/MES/LAB
/SIT/Sem 5/Flexi/ReactJs.pdf
/SIT/Sem 5/Flexi/MySQL.pdf
/SIT/Sem 5/Internship/
/SIT/Sem 5/PBL/
/SIT/Sem 5/Aptitude/
/Excalidraw/Scripts/
/SIT/Sem 5/CN/UNIT-1-Material/
/SIT/Sem 5/CN/UNIT-4-Material/
/SIT/Sem 5/CN/UNIT-5-Material/
/SIT/Sem 5/DC/UNIT-2-Material/
/SIT/Sem 5/DC/UNIT-3-Material/
/SIT/Sem 5/DC/UNIT-4-Material/
/SIT/Sem 5/Flexi/MySQL.pdf
/SIT/Sem 5/Flexi/ReactJs.pdf