.math {
    background-color: var(--code-background);
    border-radius: var(--code-radius);
    color: var(--code-normal) !important;
    font-family: var(--font-monospace);
    font-size: calc(var(--code-size) + 0.1em);
    padding: 0.1em 0.25em;
}

/* # if you want different styling for inline and block math
.math.math-block {
 }

.math.math-inline { } 
*/